<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="milliSecondToSleep" value="10000" />
        <add key="feeds" value="E:\src\DotNet\TinyServer\RssAggregator\Feeds.xml" />
        <add key="TemplatePath" value="E:\src\DotNet\TinyServer\RssAggregator\Templates" />
        <add key="WebRoot" value=" " />
        <add key="Default" value="default.html" />
        <add key="Port" value="81" />
        <add key="LogFile" value="" />  <!-- filepath, set to "" for console logging -->
        <add key="LogLevel" value="Warning" />  <!--All, Warning, Error, None -->
	</appSettings>
</configuration>
